

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#name {
    transform: scale(0);
    transition: transform 5s ease, color 0.6s ease;
    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

html, body {
    overflow-x: hidden;
}

#resetButton, #changeBG {
    transform: scale(0.75);
}

body {
    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
    transition: background 0.6s ease;
    font-family: 'Quicksand', sans-serif;
    color: #949494;
    background-color: #210036;
    text-align: center;
    margin-top: 80px;
}

#counter {
    display: inline-flex;
    min-width: 20px;
    transition: width 0.3s ease, transform 0.3s ease, color 0.3s ease;
    font-weight: bold;
    color: #949494;
    font-size: 24px;
    margin: 0 25px;
}

#resetButton {
    font-weight: bold;
    color: #949494;
    text-align: center;
    margin-top: 20px;
}

#changeBG {
    font-weight: bold;
    color: #949494;
    text-align: center;
    margin-top: 20px;
}

#page-title {
    transform: scale(0.5);
    transition: transform 3s ease, color 0.6s ease;
}

button {
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
    transition: 0.6s ease;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    padding: 5px 25px;
    background-color: #222A2E;
    color: #949494;
    border-radius: 50px;
    border: none;
    outline: 2px solid;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.counter-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    transition: 0.3s ease;
}

